[Unit]
Description=Backup ctwatch.net's database

[Timer]
OnCalendar=*-*-* 0/6:0:0
Persistent=true

# don't start in the first 300 seconds of booting
#OnBootSec=300

[Install]
WantedBy=multi-user.target
