[Unit]
Description=Backup ctwatch.net's database
Requires=postgresql.service
Before=postgresql.service

[Service]
User=ctwatchbackup
Type=simple
ExecStart=/bin/bash /home/ctwatchbackup/backup-ctwatch

PrivateTmp=true
ReadOnlyDirectories=/
ReadWriteDirectories=/home/ctwatchbackup/.tarsnap-cache

[Install]
WantedBy=multi-user.target
