[Unit]
Description=Backup ctwatch.net's database
Requires=postgresql.service
Before=postgresql.service

[Service]
User=ctwatchbackup
Type=oneshot
ExecStart=/bin/bash /home/ctwatchbackup/backup-ctwatch

PrivateTmp=true

## likely can't set this, if tarsnap cache needs to be written to, which'll be in home directory. Wish it was possible to stop modifying tarsnap key
# perhaps have to use the more granular ReadOnlyDirectory/ReadWriteDirectory
#ProtectHome=true

[Install]
WantedBy=multi-user.target
